@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
}
:root{
    --orange-color: #fea101;
    --sky-blue:#01acfd;
    --white:#ffffff;
    --dark1:#111111;
    --dark2:rgb(0, 0, 0);
}
/* sherd style  */
.btn{
    padding: 10px 30px;
    font-size: 1.2rem;
    font-weight: 700;
    color:var(--white) ;
    border-radius: 12px;
    background-color: var(--dark1);

}
/* header area start  */
header{
    background-color: rgb(247, 247, 247);
}
.nav-parent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 87%;
    margin: 0 auto;
    padding: 20px 10px;
    
}
.nav-title{
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-title h3{
    font-size: 2rem;
    font-weight: 700;
}
.nav-item ul{
    display: flex;
    gap:32px;

}
.nav-item li{
    list-style: none;

}
.nav-item a{
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 500;
}
.mobail-manu{
    display: none;
}
.notice{
    background-color: #01acfd;
    color: white;
    padding: 10px 0;
    font-size: 2rem;
    font-weight: bold;
    text-transform: capitalize;
}

.banner{
    display: flex;
    gap: 30px;
    max-width: 87%;
    margin: 0 auto;
    align-items: center;
}
.banner-text{
    width: 60%;
}
.banner-text h1{
    font-size: 3.5rem;
}
.banner-text-style{
    color: var(--orange-color);
}
#banner-text-style{
    color: var(--sky-blue);
}
.banner-text p{
    font-size: 1.2rem;
   margin: 20px 0;
} 
.banner-img{
    width: 40%;
}
.banner-img img{
    width: 100%;
}

/* Standard Curriculum area start  */
.curriculum-section{
    background-image: url('img/bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.curriculum-container{ 
    max-width: 87%;
    margin: 0 auto;
    padding: 70px 0;

}
.curriculum-title , .stories-titile{
    font-size: 3rem;
    font-weight: bold;
    color: var(--dark2);
    text-align: center;
}
.curriculum-parent{
    display: flex;
    text-align: center;
    gap: 40px;
    margin: 50px 0;
}
.curriculum-item{
    box-sizing: border-box;
    box-shadow: inset 0, 0, 28.3, 0.94, rgba(0, 0, 0, 0.05) ;
    border: 1px solid #def5ff;
    border-radius: 18.86px;
    background: linear-gradient(180.00deg, #def5ff,rgba(255, 255, 255, 0) 40%),#ffffff;
}

.curriculum-item img{
    margin: 20px 0;
}
.curriculum-item h3{
    font-size: 1.5rem;
    color: #202020;
    line-height: 80.65px;
}
.curriculum-item p{
    font-size: 0.9rem;
    line-height: 30px;
    color: #808080;
}
.curriculum-item a{
    color: #64C8FF;
    font-size: 0.9 rem;
    line-height: 50px;
    text-decoration: none;
}

.curriculum-box2{
    border: 1px solid #fff4dc;
    background: linear-gradient(180.00deg, #fff4db,rgba(255, 255, 255, 0) 40%),#ffffff;
}
#curriculum-box2-btn{
    color: #F0AA00;
}
.curriculum-box3{
    border: 1px solid #f2e8ff;
    background: linear-gradient(180.00deg, #eee1ff,rgba(255, 255, 255, 0) 40%),#ffffff;
}
#curriculum-box3-btn{
    color: #8700FF;
}
/* arrow-icon */
.arrow-icon{
    text-align: center;
}
.arrow-icon i{
    background-color: var(--orange-color);
    color: white;
    padding: 20px;
    border-radius: 100%;
    margin: 5px;
    font-weight: bold;
    font-size: 30px;
}

/* Our Stories Area Start  */
.stories-section {
    background-image: url('img/bg.png'),linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 100%);
    padding: 80px 0;
   
}
.stories-container{
    display: flex;
    gap: 50px;
    max-width: 87%;
    margin: 100px auto;
}
.storie-disply{
    padding: 50px;
    border-radius: 0 0 16px 16px;
    background-color: white;
    margin-top: -22px;
    position: relative;
}
.storie-disply-img{
    width: 100%;
    border-radius: 16px 16px 0 0;
}
.storie-disply h5{
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 50px;
    color: var(--dark2);
}
.storie-disply-dic{
    font-size: 1rem;
    line-height: 30px;
    margin-top: 20px;
}


.stories-singal-item-parent{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
 }
 .stories-singal-item-parent div{
    position: relative;
}
.storie-disply-btn , .stories-singal-item-parent div button{
    font-size: 0.9rem;
    padding: 10px 20px;
    border-radius: 3rem;
    border: none;
    font-weight: 500;
    color: white;
    background-color: rgb(149, 178, 38);
    position: absolute;
    top: -22px;
}
.only-for-mobile-device{
    display: none;
}    
.stories-singal-item-img{
    border-radius: 16px 16px 0 0;
}
.stories-singal-item-title{
    background-color: white;
    border-radius: 0 0 16px 16px;
    padding: 40px;
    margin-top: -10px;
}
.stories-singal-item-title h5{
    font-size: 1rem;
    font-weight: bold;
    line-height: 40px;
}

/* footer area start  */
footer{
    background-color: var(--sky-blue);
}
.footer-container{
    display: flex;
    justify-content: space-between;
    gap: 50px 50px 10px 50px;
    max-width: 87%;
    margin: 0 auto;
    padding: 123px 140px;
    color: white;
}
.footer-logo-div{
    width: 40%;
}
.footer-logo-div div{
    display: flex;
}
.footer-logo-div h2{
    font-size: 2.3rem;
}
.footer-logo-dic{
    margin-top: 15px;
    line-height: 20px;
    color: #ffffffb1;
}
.footer-menu h3, .social-icon h3{
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 20px;
}
.footer-menu p{
    color: #ffffffb1;
}
.social-icon img{
    border-radius: 4px;
    margin: 5px;
}

























@media only screen and (max-width:776px){
    .nav-parent{
        display: none;
    }
    .mobail-manu{
        display: block;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
    }
    .fa-solid{
        font-size: 40px;
    }
    .banner{
        flex-direction: column;
        flex-direction: column-reverse;
        text-align: center;
    }
    .banner-text{
        width: 95%;
    }
    .banner-text h1{
        font-size: 2rem;
        font-weight: 700;
    }
    .banner-text p{
        font-size: 14px;
        line-height: 18px;
    }
    
    .banner-img{
        width: 100%;
    
    }

    /* Standard Curriculum area start  */
    .curriculum-container{ 
        max-width: 90%;
        padding: 50px 0 10px 0;
    
    }
    .curriculum-parent{
        flex-direction: column;
    }
    .curriculum-title, .stories-titile{
        font-size: 1.5rem;
    }
    .curriculum-item h3{
        font-size: 1rem;
        margin-bottom: 4px;
    }
    .curriculum-item p{
        font-size: 10px;
        line-height: 20px;
    }

    /* Our Stories Area Start  */

    .stories-section{
        padding: 0 0 60px 0;
    }
    .stories-container{
        margin: 30px auto;
        gap: 10px;
    }
    .stories-disply-container{
        display: none;
    }
    .stories-singal-item-parent{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
        max-width: 100%;
    }
    .stories-singal-item-parent div button{
        font-size: 0.7rem;
        padding: 5px 10px;
        position: absolute;
        top: -10px;
    }
    .stories-singal-item-title{
        padding: 10px;
    }
    .stories-singal-box{
        width: 100%;
    }
    .stories-singal-item-img{
        width: 100%;
    }
    .only-for-mobile-device{
        display: block;
    }
    .stories-singal-box h5{
        font-size: 0.5rem;
    }
    .stories-singal-item-title h5{
        font-size: 0.5rem;
        font-weight: bold;
        line-height: 18px;
        margin: 10px;
    }
    .stories-singal-item-parent div button{
        font-size: 8px;
        padding: 5px 10px;
        border-radius: 1.6rem;
    }
    /* footer area start */
    .footer-container{
        flex-direction: column;
        gap: 10px;
        max-width: 90%;
        /* margin: 0 auto; */
        padding: 123px 0;
        color: white;
    }
}